.gallery img {
    max-width: 100%;
    height: auto;
}
  
/*=============== GALLERY ===============*/
  
.gallery{
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    transform: translateY(-13%);
}
  
.gallery__card{
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: 23px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
  
.gallery__img,
.gallery__card::after,
.gallery__data{
    position: absolute;
}
  
.gallery__img{
    inset: 0;
    margin: auto;
    transition: transform .3s;
}
  
.gallery__card::after{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,hsla(0, 0%, 100%, 0)32%, hsla(0, 0%, 0%, .3) 100%);
    top: 0;
    z-index: 1;
}
  
.gallery__data{
    bottom: 1.5rem;
    left: 1rem;
    z-index: 10;
}
  
.gallery__title,
.gallery__subtitle{
    font-family: 'Inter', sans-serif;
    color: white;
}
  
.gallery__title{
    font-size: 16px;
    font-weight: 500;
}
  
.gallery__subtitle{
    font-size: 13px;
    font-weight: 100;
}
  
.gallery__overflow{
    position: relative;
}
  
.gallery__thumbnail{
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 25px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: transform .3s;
}
  
.gallery__thumbnail-img{
    position: absolute;
    inset: 0;
    margin: auto;
}
  
/* Swiper class */
  
.gallery-cards{
    width: 400px;
}
.gallery-thumbs{
    width: 300px;
}
  
.gallery-cards:hover .gallery__img{
    transform: scale(1.05);
}
  
.gallery .swiper-wrapper{
    padding: 1.5rem 0;
}
  
.gallery-thumbs{
    height: 132px;
}
  
/* Active thumbnail */
.swiper-slide-active .gallery__thumbnail{
    transform: translateY(-1.25rem) scale(1.2);
}
  
/* Rotate thumbnail */
.swiper-button-next .gallery__thumbnail{
    transform: rotate(15deg);
}
  
.swiper-button-prev .gallery__thumbnail{
    transform: rotate(-15deg);
}
  
/* Sliding numbers */
.swiper-pagination-fraction{
    font-size: small;
    letter-spacing: -1px;
    font-weight: 500;
    color: black;
    bottom: 0;
}
  
  
/* Arrow buttons */
.swiper-button-next::after,
.swiper-button-prev::after{
    content: '';
}
  
.swiper-button-next,
.swiper-button-prev{
    font-size: 1.5rem;
    top: 5.5rem;
}
  
.swiper-button-next{
    right: -1.5rem;
    transform: rotate(15deg);
    color: black;
}
  
.swiper-button-prev{
    right: -1.5rem;
    transform: rotate(-15deg);
    color: black;
}
  
/* Other swiper settings */
.gallery-cards::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
  
.swiper-horizontal.swiper-css.mode > swiper.wrapper{
    scroll-snap-type: initial;
}
  
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media only screen and (max-width: 800px) {
    .gallery__card{
        width: 300px;
        height: 450px;
    }

    .gallery-cards,
    .gallery-thumbs{
    width: 300px;
}
}
  
/* For large devices */
 