@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

/* ::-webkit-scrollbar {
  display: none;
} */

.menu-wrap {
  margin: 0.4rem;
  width: 50px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

.menu {
  height: 40vh;
  width: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

}
.menu a {
  color: #d1c7c4;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 13px;
  transform: rotate(270deg);
  text-decoration: none;
}

.menu a:hover {
  text-decoration: none;
}


.context {
  display: relative;
  margin: 15%;
}

body {
  height: auto;
    width: 100vw;
    background-color: #2b2926;
    margin: 0rem;
    overflow-x: hidden;
  }

.container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;
}

/* font typologies */

h1 {
  color: #8c8381;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

h1:hover {
  color: #f6f6ea;
  scale: 200%
}

h2 {
  color: #aaa19f;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

h3 {
  color: #d1c7c4;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 15px;
}


/* magic font */

:root {  
  --purple: rgb(255, 255, 255);
  --violet: rgb(177, 242, 248);
  --pink: rgb(235, 168, 199);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from, to {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}

h4 {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h4 > .magic {
  display: inline-block;
  position: relative;
}

h4 > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  
  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

h4 > .magic > .magic-star > svg {
  animation: rotate 5000ms linear infinite;
  display: block;
  opacity: 0.7;
}

h4 > .magic > .magic-star > svg > path {
  fill: var(--violet);
}

h4 > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

h5 {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 25px;
}

h6 {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

p {
  color: #d1c7c4;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.5;
}

mark {
  color: #ece8e7;
  background-color: #224944;
}

.external-link {
  text-decoration: none;
}

/* project images */

#landing-page {
  height: 100vh;    
  margin: 0px;  
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

body:hover > #trailer {
  opacity: 1;
}

.interactable {
  aspect-ratio: 9 / 16;
  width: 16%;
  background-position: center 50%;
  background-size: 100%;  
  opacity: 0.4;
  
  transition: background-size 400ms ease, opacity 400ms ease;
}

.interactable:hover {
  background-size: 105%;
  opacity: 0.8;
}

/* project content */

.column {
	float: left; 
	width: 45%;
  margin-top: -2%;
	margin-right: 5%;
}

section {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  position: relative;

}

@media only screen and (max-width: 800px) {

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h4 {
  font-size: 1.1rem;
}

#about {
margin-top: 20vh;
margin-bottom: 30vh;
}

#landing-page {
  display: block;
  margin: 15%;
}

.interactable {
  width: 70%;
  aspect-ratio: 16 / 9;
  margin-bottom: 5%;
}
}

/* see more button */

button#see-more-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1.5px solid #000;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
}

button#see-more-btn:hover {
  background-color: #224944;
  color: #fff;
}