@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

/* ::-webkit-scrollbar {
  display: none;
} */

.menu-wrap {
  margin: 0.4rem;
  width: 50px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

.menu {
  height: 40vh;
  width: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

}
.menu a {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 13px;
  transform: rotate(270deg);
  text-decoration: none;
}

.menu a:hover {
  text-decoration: none;
}

.navicon {
  position: fixed;
  right: 15%;
  top: 46px;
  display: flex;
  justify-content: flex-end;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 13px;
  max-width: 85%;
  margin: 0 auto;
  z-index: 999;
  left: 0; /* set the left edge of the element to the left edge of the viewport */
  width: 100vw; /* set the width of the element to 100% of the viewport width */
}


.navicon a {
  text-decoration: none;
}


.context {
  display: relative;
  margin-left: 15%;
  margin-right: 15%;
}

body {
  height: auto;
    width: 100vw;
    background-color: #fff;
    margin: 0rem;
    overflow-x: hidden;
  }

.container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;
}

/* font typologies */

h1 {
  color: #000;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

h1:hover {
  color: #f6f6ea;
  scale: 200%
}

h2 {
  color: #000;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

h3 {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 15px;
}


/* magic font */

:root {  
  --purple: rgb(114, 105, 187);
  --violet: rgb(122, 164, 168);
  --pink: rgb(235, 168, 199);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from, to {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}

h4 {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h4 > .magic {
  display: inline-block;
  position: relative;
}

h4 > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  
  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

h4 > .magic > .magic-star > svg {
  animation: rotate 5000ms linear infinite;
  display: block;
  opacity: 0.7;
}

h4 > .magic > .magic-star > svg > path {
  fill: var(--violet);
}

h4 > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

h5 {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 25px;
}

h6 {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

p {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.5;
}

mark {
  color: #000;
  background-color: #d9ff00;
}

.external-link {
  text-decoration: none;
}

/* project images */

#landing-page {
  height: 100vh;    
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

body:hover > #trailer {
  opacity: 1;
}

.interactable {
  aspect-ratio: 9 / 16;
  width: 16%;
  background-position: center 50%;
  background-size: 100%;  
  /* opacity: 0.4; */
  border-radius: 15px;
  transition: background-size 400ms ease, opacity 400ms ease;
  
}

.interactable:hover {
  background-size: 105%;
  opacity: 1;
}

/* project content */

.column {
	float: left; 
	width: 45%;
  margin-top: -2%;
	margin-right: 5%;
}

section {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  scroll-snap-align: start; /* snap to the start of the section */
  scroll-margin-top: 1px; /* add a small margin to trigger the snap */
  scroll-padding-top: 1px; /* add a small padding to avoid cutting off the section content */
}

@media only screen and (max-width: 800px) {

.navicon {
  display:none;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

 /* h4 {
  font-size: 1.3rem;
} */

#about {
/* margin-top: 20vh;
margin-bottom: 30vh; */
}

#landing-page {
  display: block;
  margin: 15%;
}

.interactable {
  width: 70%;
  aspect-ratio: 16 / 9;
  margin-bottom: 5%;

}
  .column {
    width: 100%;

  }

}


/* see more button */

button#see-more-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1.5px solid #000;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
}

button#see-more-btn:hover {
  background-color: #224944;
  color: #fff;
}

.scroll-indicator {
  width: 40px;
  height: 60px;
  transform: scale(0.75);
  border: 2px solid rgba(117, 187, 194, 0.781);
  border-radius: 50px;
  position: relative;
  box-shadow: 0px 0px 35px -5px rgba(117, 187, 194, 0.781);
}

.scroll-indicator::before {
  content: '';
  position: absolute;
  top: .5em;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: rgba(117, 187, 194, 0.781);
  border-radius: 50%;
  transform: translate(-50%, 0);
  animation: scrollAnim 1.8s .5s infinite ease-in;
  box-shadow: 0px 0px 35px -5px rgba(117, 187, 194, 0.781);
}

/* Animation */
@keyframes scrollAnim {
  0% {
    transform: translate(-50%, 0) rotateX(0);
    opacity: 0;
  }

  5% {
    opacity: .5;
  }

  15% {
    opacity: 1;
  }

  90%,
  100% {
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 30px) rotateX(30deg);
  }
}
/* Animation */