@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

body {
    height: 100vh;
    width: 100vw;
    background-color: #0C0B0B;
    margin: 0rem;
    overflow-x: hidden;
  }
  
  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 57%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .image {
    width: 30vmin;
    height: 42vmin;
    object-fit: cover;
    object-position: 100% center;
  }

/* brand */

h1 {
  color: #8c8381;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

h1:hover {
  color: #f6f6ea;
  scale: 200%
}

h2 {
  color: #696260;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

h3 {
  color: #aaa19f;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  transition: all 0.3s ease-in-out;
  font-weight: 300;
}

h3:hover {
  color: #887c70;
}

h3:active {
  transform: translateY(-10px);
}

h4 {
  color: #cec7c5;
  font-family: 'Inter', sans-serif;
  font-size: 35px;
}

h5 {
  color: #aaa19f;
  font-family: 'Inter', sans-serif;
}

h6 {
  color: #aaa19f;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

p {
  color: #aaa19f;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

mark {
  color: #c0bab8;
  background-color: #344242;
}

/* footer styling */

footer{
  position: fixed;
  bottom: 0;
  color: #696260;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin: 0 10%;
  bottom: 5%;
}

/* arrow */
.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.0vw;
  height: 1.0vw;
  border-bottom: 2px solid #696260;
  border-right: 2px solid #696260;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 5s;
  animation-fill-mode: forwards;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}

/* image track */

#image-track {
  display: flex;
  gap: 3vmin;
  position: absolute;
  left: 57%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
  z-index: 9999;
}
  
#image-track a .image {
  width: 30vmin;
  height: 42vmin;
  object-fit: cover;
  object-position: 100% center;
}

/* header style */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  li {
    margin-left: 3rem;
    color: #696260;
  }

  .nav__title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 0.9rem;
    line-height: 0.5rem;
    color: #696260;
  }

  .nav__item {
    font-family: 'Archivo Black', sans-serif;
    font-size: 0.9rem;
    line-height: 0.5rem;
  }
  
  .site-title {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 5%;
    width: 80%;
    margin: 0 10%;
  }

/* hover effect */


.li.label::after{
    content:'Contact';
}
.li.label:hover::after{
    content:'lilymseo@gmail.com';
}

li.scale:hover, li.scale:active {font-size: 150%;}

/* mobile friendly */
@media only screen and (max-width: 481px) {

footer {
  display: none;
}

  .nav__item {
    display: none;
  }

  #uique, #image-track a .image {
    width: 70vmin;
    height: 98vmin;
  }

.arrow {
  display: none;
}

.nav {
  top: 1%;
  overflow: hidden;
}

}

/* project content */

.column {
	float: left; 
	width: 45%;
	margin-right: 5%;
}


.container {
  width: 55%;
  position: relative;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 5% 0 0;
  align-items: center;
  height:100vh;
}

.container img {
  width: 100%;
}