@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo Script Swash Caps&display=swap"');

.navicon {
  padding-right: 15%;
  padding-top: 1.5%;
  display: flex;
  justify-content: flex-end;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 13px;
  max-width: 85%;
  margin: 0 auto;
  z-index: 999;
  left: 0; /* set the left edge of the element to the left edge of the viewport */
  width: 100vw; /* set the width of the element to 100% of the viewport width */
}

.navicon a {
  text-decoration: none;
  color: #000;
}


.context {
  display: relative;
  margin-left: 15%;
  margin-right: 15%;
}

body {
  height: auto;
    width: 100vw;
    background-color: #fff;
    margin: 0rem;
    overflow-x: hidden;
  }

.container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;
}

/* font typologies */

h1 {
  color: #000;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

h1:hover {
  color: #f6f6ea;
  scale: 200%
}

h2 {
  color: #000;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

h3 {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 15px;
}


/* magic font */

:root {  
  --purple: #75a788;
  --violet: #607191;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from, to {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}

h4 {
  color: #000;
  font-family: 'Oleo Script Swash Caps', sans-serif;
  font-size: 35px;
  font-weight: 400;
}

h4 > .magic {
  display: inline-block;
  position: relative;
}

h4 > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  
  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

h4 > .magic > .magic-star > svg {
  animation: rotate 5000ms linear infinite;
  display: block;
  opacity: 0.7;
}

h4 > .magic > .magic-star > svg > path {
  fill: var(--violet);
}

h4 > .magic > .magic-text {
  animation: background-pan 8s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

h5 {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 25px;
}

h6 {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

p {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.5;
}

mark {
  color: #000;
  background-color: #d9ff00;
}

.external-link {
  text-decoration: none;
}

/* project content */

.column {
	float: left; 
	width: 45%;
  margin-top: -2%;
	margin-right: 5%;
}

section {
  min-height: 70vh;
  width: 100vw;
  position: relative;
}

@media only screen and (max-width: 800px) {

.navicon {
  display:none;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

 h4 {
  font-size: 1.3rem;
 }

  .column {
    width: 100%;
  }

}


/* scroll indicator */

.scroll-indicator {
  width: 40px;
  height: 60px;
  transform: scale(0.55);
  border: 1.5px solid var(--purple);
  border-radius: 50px;
  position: relative;
  box-shadow: 0px 0px 20px -5px var(--purple);
}

.scroll-indicator::before {
  content: '';
  position: absolute;
  top: .5em;
  left: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--purple);
  border-radius: 50%;
  transform: translate(-50%, 0);
  animation: scrollAnim 1.8s .5s infinite ease-in;
  box-shadow: 0px 0px 20px -5px var(--purple);
}

@keyframes scrollAnim {
  0% {
    transform: translate(-50%, 0) rotateX(0);
    opacity: 0;
  }

  5% {
    opacity: .5;
  }

  15% {
    opacity: 1;
  }

  90%,
  100% {
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 30px) rotateX(30deg);
  }
}

arrow down

html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
	height: 60px;
	width: 80px;
	margin: 0px 0 0 -40px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	color: #FFF;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

#hidden-content {
  display: none;
}

.see-more-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.5;
}