body {
    height: 100vh;
    width: 100vw;
    background-color: #0C0B0B;
    margin: 0rem;
    overflow: hidden;
  }
  
  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 57%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .image {
    width: 30vmin;
    height: 42vmin;
    object-fit: cover;
    object-position: 100% center;
  }

/* brand */

h1 {
  color: #696260;
  font-size: 0.9rem;
  font-family: monospace;
}

h1:hover {
  color: #f6f6ea;
  scale: 200%
}

h2 {
  color: #696260;
  font-size: 0.8rem;
  font-family: monospace;
}

/* footer styling */

footer{
  position: sticky;
  top: 93%;
  color: #696260;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* arrow */
.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.0vw;
  height: 1.0vw;
  border-bottom: 2px solid #696260;
  border-right: 2px solid #696260;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 5s;
  animation-fill-mode: forwards;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}

/* header style */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  li {
    margin-left: 3rem;
    color: #696260;
  }

  .nav__title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 0.9rem;
    line-height: 0.5rem;
    color: #696260;
  }

  .nav__item {
    font-family: 'Archivo Black', sans-serif;
    font-size: 0.9rem;
    line-height: 0.5rem;
  }
  
  .site-title {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 5%;
    width: 80%;
    margin: 0 auto;
  }

  /* hover effect */


.li.label::after{
    content:'Contact';
}
.li.label:hover::after{
    content:'lilymseo@gmail.com';
}

li.scale:hover, li.scale:active {font-size: 150%;}
